<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-size:10px; 
    }
    th {
        color: cadetblue;
    }
    th, td, tr {
        text-align: center;
    }
    td, th {
        border: 1px solid #ededed;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: linen;
    }
</style>
<h6><a href="/home/RecipeBox">Go back to your recipe box</a></h6>
<h5>Your ingredient box:</h5>
<p>**Add ingredients to your recipe box by adding them to your recipes</p>
<table>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Measurement</th>
        <th>Measured Price</th>
        <th>Ounces Consumed</th>
        <th>Ounces Remaining</th>
        <th>Density Per Cup</th>
        <th>Type</th>
        <th>Classification</th>
        <th>Price Per Ounce</th>
        <th>Selling Price</th>
    </tr>
    @foreach (var ingredient in ViewBag.fullingredientbox) {
        <tr>
            <td><a href="/home/deleteIngredient?name=@ingredient.name">Delete</a></td>
            <th>@ingredient.ingredientId</th>
            <td>@ingredient.name</td>
            <td>@ingredient.measurement</td>
            <td>$@ingredient.priceOfMeasuredConsumption</td>
            <td>@ingredient.ouncesConsumed oz</td>
            <td>$@ingredient.pricePerOunce</td>
            <td>@ingredient.ouncesRemaining oz</td>
            <td>@ingredient.density oz</td>
            <td>@ingredient.typeOfIngredient</td>
            <td>@ingredient.classification</td>
            <td>$@ingredient.sellingPrice</td>
        </tr>
    }
</table>


