
@{
    ViewBag.Title = "My Recipe";
}
<a href="/home/recipe?name=@ViewBag.currentrecipe.name">Go back to @ViewBag.currentrecipe.name</a>
<br />
<h3>@ViewBag.currentingredient.measurement : @ViewBag.currentingredient.name</h3>
<h4>Price of Measured Consumption: $ @ViewBag.currentingredient.priceOfMeasuredConsumption</h4>
<br />
<h4>Edit @ViewBag.currentingredient.name</h4>
<form action="/home/EditIng" method="post">
    @*this method works without putting the parameters here too... looking specifically at line 32 of this commit*@
    <h5>Edit Name: </h5>
    <input name="updatedName" />
    <input type="submit" value="Update Name" />
    <br />
    <h5>Edit Measurement:</h5>
    <input name="updatedMeasurement" />
    <input type="submit" value="Update Measurement" />
    <br />
    <h5>Edit Type of ingredient 
    <br />(affects the automated density)</h5>
    <input name="updatedType" />
    <input type="submit" value="Update Type" />
    <br />
    <h5>Edit Density 
    <br />(this will overwrite the automated density in the database)</h5>
    <input name="updatedDensity" />
    <input type="submit" value="Update Density" />
    <br />
    <h5>Edit Selling Price</h5>
    <input name="updatedSellingPrice" />
    <input type="submit" value="Update SellingPrice" />
    <br />
</form>
<br />
<br />
<h4><b>Update your ingredient Information:</b></h4>
<p>Type: @ViewBag.currentingredient.typeOfIngredient</p>
<p>Density: @ViewBag.currentingredient.density</p>
<p>Price of Measured Consumption: @ViewBag.currentingredient.priceOfMeasuredConsumption</p>
<p>Ounces Consumed: @ViewBag.currentingredient.ouncesConsumed</p>
<p>Ounces Remaining in your Pantry: @ViewBag.currentingredient.ouncesRemaining</p>
@*this is where we can have the density, price of it's dairy, etc.*@

