
@{
    ViewBag.Title = "My Recipe";
}
<a href="/home/recipe?name=@ViewBag.currentrecipe">Go back to @ViewBag.currentrecipe</a>
<br />
<h2><b>@ViewBag.currentingmeasurement @ViewBag.currentingname</b></h2>
<br />
<h4>Update or Edit your ingredients</h4>
<form action="/home/EditIng?oldName=@ViewBag.currentingname&newName=@ViewBag.updatedingname&oldMeasurement=@ViewBag.currentingmeasurement&updatedMeasurement=@ViewBag.updatedingmeasurement" method="post">
    <h5>Edit your ingredient <b>name:</b></h5>
    <input name="updatedName" />
    <br />
    <h5>Edit your ingredient <b>measurement:</b></h5>
    <input name="updatedMeasurement" />
    <input type="submit" value="Update Ingredient Information" />
</form>
<h4>@ViewBag.DuplicateIngredientNameErrorMessage</h4>
<h4>@ViewBag.ErrorMessage</h4>
<br />
<h4>Comments on @ViewBag.currentingname:</h4>
<form action="ingComment?comment=@ViewBag.ingComment" method="post">
    <input name="comment" />
    <input type="submit" value="Create a comment" />
</form>
<p>@ViewBag.ingComment</p>