
@{
    ViewBag.Title = "My Recipe";
}

<a href="/home/recipes">Go back to your Recipe Box</a>
<br />

<h3>@ViewBag.recipename</h3>
@*<a href="/home/editrecipetitle?oldRecipeTitle=@ViewBag.recipename&newRecipeTitle=@ViewBag.newRecipeTitle">Edit Recipe Title</a>*@
<form action="/home/editrecipetitle?oldRecipeTitle=@ViewBag.recipename&newRecipeTitle=@ViewBag.newRecipeTitle" method="post">
    <input name="newRecipeTitle" />
    <input type="submit" value="Edit Recipe Title" />
</form>
<br />
<br />
<h5><b>Add a new ingredient to your recipe</b></h5>
<form action="/home/createingredient" method="post">
    <input name="ingredient" />
    <input name="measurement" />
    <input type="submit" value="Add" />
</form>
<h4>@ViewBag.ErrorMessage</h4>
<br />
<ul>
    @foreach (var ingredient in ViewBag.ingredients) {
        <li>
            <b>@ingredient.measurement @ingredient.name</b>
            <h5><b>@ViewBag.ErrorMessage</b></h5>
            <a href="/home/editingredientname?oldName=@ViewBag.oldName&newName=@ViewBag.newName">test</a>
            <form action="/home/editingredientname?oldName=@ViewBag.oldName&newName=@ViewBag.newName" method="post">
                <input name="newName" />
                <input type="submit" value="Edit Ingredient Name" />
                @*somewhere here, i'm getting /home/home/editingredientname...*@
            </form>
            <form action="/home/editingredientmeasurement?name=@ViewBag.recipename&oldmeasurement=@ViewBag.oldMeasurement&newMeasurement=@ViewBag.oldMeasurement" method="post">
                <input name="newMeasurement" />
                <input type="submit" value="Edit Ingredient Measurement" />
            </form>
            <br />
            <a href="/home/deleteingredient?ingredient=@ingredient.name">Delete Ingredient</a>
        </li>
    }
</ul>
