
@{
    ViewBag.Title = "My Recipe";
}

<a href="/home/recipes">Go back to your Recipe Box</a>
<br />

<h3>@ViewBag.currentrecipe.id : @ViewBag.currentrecipe.name</h3>
<form action="/home/editrecipetitle" method="post">
    <input name="newRecipeTitle" />
    <input type="submit" value="Edit Recipe Title" />
</form>
<br />
<form action="/home/adjustyield" method="post">
    <input name="updatedYield" />
    <input type="submit" value="Change Yield" />
</form>
<br />
<h4><b>Yield: @ViewBag.currentrecipe.yield</b></h4>
<br />
<h4><b>@ViewBag.userinputerror</b></h4>
<br />
<br />
<h5><b>Add a new ingredient to your recipe</b></h5>
<form action="/home/createingredient" method="post">
    <p>Enter an ingredient:</p>
    <input name="ingredient" />
    <p>Enter the ingredient's measurement:</p>
    <input name="measurement" />
    <input type="submit" value="Add" />
</form>
<h4>@ViewBag.ErrorMessage</h4>
<br />
<ul>
    @foreach (var ingredient in ViewBag.currentrecipe.ingredients) {
        <li>
            <b>@ingredient.measurement @ingredient.name</b>
            <br />
            <a href="/home/ingredient?name=@ingredient.name&measurement=@ingredient.measurement">View details of @ingredient.name</a>
            <br /> 
            <a href="/home/deleteingredient?ingredient=@ingredient.name">Delete Ingredient</a>
        </li>
    }
</ul>
