
@{
    ViewBag.Title = "Create Recipe";
}

<h5>
@if (ViewBag.recipeboxcount == 1) {
    @:You currently have @ViewBag.recipeboxcount recipe in your Recipe Box. 
}
else {
    @:You currently have @ViewBag.recipeboxcount recipes in your Recipe Box. 
}
</h5>
<h3>Add a recipe to your Recipe Box</h3>
<br />
<form action="/home/createrecipe" method="post">
    <input name="recipeTitle" />
    <input type="submit" value="Add" />
</form>
<h4>@ViewBag.ErrorMessage</h4>
<br />
<ol>
    @foreach (var recipe in ViewBag.recipes) {
        <li>
            <p><a href="/home/recipe?name=@recipe.name">@recipe.name</a><br />
            Recipe Yield: @recipe.yield<br />
            Total Recipe Price: $@recipe.aggregatedPrice
            <a href="/home/deleterecipe?recipeTitle=@recipe.name">Delete Recipe</a></p>
            @*<br />*@
        </li>
    }
</ol>

@*the aggregated price ins't changing with the yield and neither are hte ingredients... something is happening with my method... 
    it's all good. just gotta find out what, and then i'm much closer already. :)
    *@