<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        color: cadetblue;
    }

    th, td, tr {
        text-align: center;
    }

    td, th {
        border: 1px solid #ededed;
        padding: 8px;
    }

    .right-align {
        text-align: right;
    }

    tr:nth-child(even) {
        background-color: linen;
    }

    select {
        width: 300px;
    }
</style>
@{
    var count = 1;
}
@{
    ViewBag.Title = "Create Recipe";
}
<a href="/home/initializeDatabase">Reset Button **Warning, this will format your database!!</a>
<h5>
    @if (ViewBag.recipeboxcount == 1) {
        @:You currently have @ViewBag.recipeboxcount recipe in your Recipe Box.
} else {
        @:You currently have @ViewBag.recipeboxcount recipes in your Recipe Box.
}
</h5>
<h3>Add a recipe to your Recipe Box</h3>
<br />
<form action="/home/createrecipe" method="post">
    <input name="recipeTitle" />
    <input type="submit" value="Add" />
</form>
<h4>@ViewBag.ErrorMessage</h4>
<br />
<table>
    <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th>Yield</th>
        <th>Total Price</th>
        <th>Price Per Serving</th>
    </tr>
    @foreach (var recipe in ViewBag.recipes) {
        <tr>
            <td><a href="/home/deleterecipe?recipeTitle=@recipe.name">Delete</a></td>
            <td>@(count++)</td>
            <td><a href="/home/recipe?name=@recipe.name">@recipe.name</a></td>
            <td>@recipe.yield servings</td>
            <td>$@recipe.aggregatedPrice</td>
            <td>$@recipe.pricePerServing</td>
        </tr>
    }
</table>
@*the aggregated price ins't changing with the yield and neither are hte ingredients... something is happening with my method...
    it's all good. just gotta find out what, and then i'm much closer already. :)
*@