@{
    ViewBag.Title = "My Recipe";
}
<style>
    table {
        /*font-family: arial, sans-serif;*/
        border-collapse: collapse;
        width: 100%;
    }

    th {
        color: cadetblue;
    }

    th, td, tr {
        text-align: center;
    }

    td, th {
        border: 1px solid #ededed;
        padding: 8px;
    }

    .right-align {
        text-align: right;
    }

    tr:nth-child(even) {
        background-color: linen;
    }

    select {
        width: 300px;
    }
</style>
<h6><a href="/home/RecipeBox">Go back to your recipe box</a></h6>
<h6><a href="/home/IngredientBox">Go to your ingredient box</a></h6>
<h4>Recipe: @ViewBag.currentrecipe.name</h4>
<h5>Yield: @ViewBag.currentrecipe.yield</h5>
<form @*I want to make this one smaller, maybe 50px?*@ action="/home/AdjustYield" method="post">
    <input name="updatedYield" placeholder="Desired Yield" />
    <input type="submit" value="Change" />
</form>
<h5>Total Price: $@ViewBag.currentrecipe.aggregatedPrice</h5>
<h5>Price Per Serving: $@ViewBag.currentrecipe.pricePerServing</h5>
<table>
    <tr>
        <th></th>
        <th>Ingredient Id</th>
        <th>Ingredient</th>
        <th>Measurement</th>
        <th>Price</th>
    </tr>
    @foreach (var ingredient in ViewBag.currentrecipe.ingredients) {
        <tr>
            <td><a href="/home/deleteIngredient?name=@ingredient.name&measurement=@ingredient.measurement">Delete</a></td>
            <td>@ingredient.ingredientId</td>
            <td><a href="/home/ingredient?name=@ingredient.name&measurement=@ingredient.measurement">@ingredient.name</a></td>
            <td>@ingredient.measurement</td>
            <td>$@ingredient.priceOfMeasuredConsumption</td>
        </tr>
    }
    <tr>
        <td></td>
        <td> </td>
        <td></td>
        <td class="right-align">Total Price:</td>
        <td>$@ViewBag.currentrecipe.aggregatedPrice</td>
    </tr>
</table>
<h5><b>Add an ingredient to this recipe</b></h5>
<h5>Create your own ingredient or search for an ingredient</h5>
<form action="/home/createingredient" mehtod="post">
    <h6><b>Ingredient Name:</b></h6>
    <input name="ingredient" placeholder="Name" />
    <select name="chooseingredient">
        @foreach (var ingredient in ViewBag.currentingredienttable) {
            <option value="@ingredient.name">@ingredient.name</option>
        }
    </select>
    <br />
    <h6><b>Ingredient Measurement: </b></h6>
    <input name="measurement" placeholder="Measurement" />
    <br />
    <h6>Ingredient Selling Weight:</h6>
    <input name="sellingweight" placeholder="Selling Weight" />
    <select name="chooseingredientsellingweight">
        @foreach (var sellingWeight in ViewBag.distinctsellingweights) {
            //i want to write a conditional here, and only give selling weighs for hte ingredient entered in the ingredient input... how do i access that value?
            //i don't want to give an option of .4oz (some ground ginger) for bread flour
            <option value="@sellingWeight">@sellingWeight</option>
        }
    </select>
    <br />
    <h6><b>Ingredient Selling Price: (only mandatory if the product is not sold online such as dairy, eggs, etc.)</b></h6>
    <input name="sellingprice" placeholder="Selling Price" />
    <br />
    <h6><b>Ingredient Type:</b></h6>
    <input name="type" placeholder="Type (baking soda, milk, sour cream)" />
    <select name="chooseingredienttype">
        @foreach (var type in ViewBag.distinctingredienttypes) {
            <option value="@type">@type</option>
        }
    </select>
    <br />
    <h6><b>Ingredient Classification:</b></h6>
    <input name="classification" placeholder="Classification (dairy, eggs, flour)" />
    <select name="chooseingredientclassification">
        @foreach (var ingredient in ViewBag.currentingredienttable) {
            <option value="@ingredient.classification">@ingredient.classification</option>
        }
    </select>
    <input type="submit" value="Add" />
</form>
<br />
<form action="/home/assignCurrentIngredientNameForSearching" method="post">
    <input name="ingredientName" placeholder="Search for ingredient" />
    <input type="submit" value="Search" />
</form>
<br />
<ul>
    @foreach (var itemresponse in ViewBag.itemresponselist) {
        <li>
            <a href="/home/ReturnCurrentIngredientFromQueriedItemResponse?itemresponsename=@itemresponse.name&itemresponsesaleprice=@itemresponse.salePrice">@itemresponse.name : $ @itemresponse.salePrice</a>
            @*@itemresponse.name : $ @itemresponse.salePrice*@
        </li>
    }
</ul>
